.GifBlock {
    width: 100%;
    background: var(--transperent-green);
    border-radius: 50px;
    border: 1px solid rgba(142, 182, 155, 0.5);
}

.GifBlock:hover {
    border : 1px solid var(--s-color);
    box-shadow: 0 20px 40px rgba(21, 56, 50, 0.15);
}

.Gif {
    transform: translateZ(30px);
    border-radius: 15px;
    margin: auto;
    width: 90%;
}



