.main {

    background: url("../../assets/img/MainImage.jpeg") rgba(0,0,0, 0.45) no-repeat center center/cover;
    height: 85vh;
    width: 100%;

    margin: 1.8%;
    clip-path: url(#main);

}

.LinkMeBtn {
    margin: 2%;
    padding: 1%;
    position: absolute;
    top: 0;
    right: 0;
    width: 22vw;
    height: 120px;
    background: linear-gradient(220deg,var(--l-color), var(--s-color));
    border-radius: 50px;
    transition: 0.5s;
}

.LinkMeBtn:hover {
    translate: 0 -10px;
}

.LinkMeTitle {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
    text-align: center;
}

.LinkMeUnderText {
    font-size: 15px;
    font-weight: bold;
    color: var(--s-color);
    text-align: center;
}

.AboutBlock {
    /*background: #051f20;*/
    width: 30%;
    height: 10%;
    position: absolute;
    top: 46%;
    left: 6%;
}

.AboutTitle {
    font-size: 35px;
    font-weight: bold;
    font-family: JetBrains-Bold;
    text-align: center;
}

.TypeWriter {
    font-size: 35px;
    font-weight: bold;
    font-family: JetBrains-Bold;
    text-align: center;
}

.AboutText {
    font-size: 24px;
    font-weight: bold;
    font-family: JetBrains-Bold;
    text-align: center;
    color: var(--muted);
}

.StackTitle {
    width: 55%;
    height: 20%;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 42%;
    right: 7%;
    font-weight: bold;
    font-family: JetBrains-Bold;
    padding-bottom: 15px;
    z-index: 999;
}

.StackGrid {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.StackItems {
    background: rgba(166, 255, 184, 0.08);
    border-radius: 24px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(142, 182, 155, 0.5);
    padding: 30px;
}

.StackItems:hover {
    border : 1px solid rgba(0, 255, 78, 0.5);
}

.StackItemTitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: JetBrains-Bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.StackItemTag {
    padding: 8px 16px;
    background: var(--s-color);
    border-radius: 50px;
    font-size: 0.85rem;
}

.StackItemTags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}