.container {
    margin: 3%;
    margin-left: auto;
    margin-right: auto;
    background: var(--white);
    display: flex;
    min-height: 155vh;
    width: 95vw;
    position: relative;
    border-radius: 70px;
}